/* Alinhamento de textos */
.hcenter {
  text-align: center;
}
/* Alinhamento de botões */
.bcenter {
  text-align: center;
  width: 100%;
}
.txtcenter {
  text-align: center;
}
/* Alinhamento de texto footer */
.txtcenterfot {
  text-align: center;
}

.scpb {
  margin: 0px 15px;
}

.scpfooter {
  height: 6em;
  background-color: darkgray;
  align-items: center;
  display: flex;
}
/* Alinhamento de imagens e cards*/
.card-body {
  text-align: left;
}

.card-img {
  max-width: 130px;
}
/* Posicionamento de botões */
.btncompra {
  width: 100%;
  max-height: 60px;
  padding: 0px !important;
  margin-top: 10px;
}
/* Configuração de textos cards */
.pnegrito {
  font-weight: 700;
  font-size: 16px;
  color: gray;
  margin: 0;
}

.pnomeproduto {
  color: #888888;
}
